<h1 class="text-center text-white">Welcome to the M&S Recruitment page</h1>
<p class="lead text-center text-white" style="margin-top:30px"><%= link_to 'Apply for a job', new_candidate_path, html_options = {:class => "btn btn-outline btn-lg"} %></p>
