<h1 class="text-center">We are M&S, are you?</h1>

<p class="text-left lead">With our unique approach to style and service, we’re focused
on growing into a market-leading international fashion brand
which means exciting opportunities, greater responsibility,
excellent training, a clear development path. The perfect career move.
</p>

<p class="text-left lead">To apply please fill in your details below and attach a CV if you have one. The recruitment manager will contact you shortly.</p>

<%= render 'form' %>

<p class="text-center" style="margin-bottom: 0;">For more information, please email <strong><%= mail_to "mnshayat@alhokair.com.sa", "mnshayat@alhokair.com.sa", subject: "M&S Job Application" %></strong></p>

