@import "colours";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "welcome";
@import "candidates";

body {
  font-family: "aktiv-grotesk-std",sans-serif;
  font-weight: 300;
}

.session {
  background-image: asset-url("background.jpg", image);
  background-position: 50% 50%;
  background-size: cover;
  display: block;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  height: 110%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  z-index: -1;
}

.content_wrapper {
  padding: 40px;
  background: rgb(221, 221, 221);
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-weight: 300;
  font-size: 31px;
  margin-bottom: 30px;
  color: black;
}

.btn-outline {
  border: 2px solid $body-bg;
  color: $body-bg;
  background-color: rgba($body-bg, 0);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba($body-bg, 0.3);
    color: $body-bg;
  }
}
@media (min-width: 768px) {
  .lead {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
} 
