
.brand {
  position: relative;
  z-index: 2;
  text-align: center;
  margin: 150px 0 50px;

  img {width: 200px;}
}

.candidate_form {
  margin: 0 auto;
  margin-bottom: -120px;
  max-width: 352px;
  min-height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 2;
  background: $body-bg;
  border-radius: 4px;
  overflow: hidden;

  .form-group {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CCC;

    .form-control {
      height: 50px;
      padding: 10px 16px;
      font-size: 14px;
      line-height: 1.33;
      border-radius: 0;
      background-color: #EEE;
      border: 0;
      border-left: 1px solid #CCC;

      &:focus {
        background: $body-bg;
        box-shadow: 0 0 15px rgba($brand-primary, 0.4);
        position: relative;
        z-index: 999;
      }
    }

    .col-sm-8 {
      padding-right: 0;
      padding-left: 0;
    }

    .control-label {
      padding-top: 16px;
      white-space: nowrap;
    }

    &:last-child, &.submit-wrap {
      border: 0;
    }

    .btn-submit {
      padding: 20px;
      border-radius: 0;
      border: 0;
    }
  }

  .errors {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($brand-danger, 0.7);
    color: $body-bg;
    text-align: center;

    h4, ul, ul li {color: $body-bg;}
  }

  .progress {
    margin: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 51px;
    z-index: 999;
  }
}
